<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan  base-package="dao,aspect" />

    <bean id="dataSource"
          class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "org.sqlite.JDBC"/>
        <property name = "url" value = "jdbc:sqlite:data.sqlite"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" autowire="byName" />

    <!--As you follow through the tutorial, add additional bean definitions below-->

    <util:list id="classes">
        <ref bean="CS120"/>
        <ref bean="CS205"/>
    </util:list>

    <bean id="CS120" class = "model.Class">
        <constructor-arg name="classID" value="0012" />
        <constructor-arg name="className" value="CS120" />
        <constructor-arg name="room" value="Talmage 1130" />
        <constructor-arg name="professor" value="Wilkerson" />
    </bean>

    <bean id="CS205" class = "model.Class">
        <property name="classID" value="0025" />
        <property name="className" value="CS205"/>
        <property name="room" value="MARB 222" />
        <property name="professor" value="Rodham" />
    </bean>

    <aop:aspectj-autoproxy />
</beans>